.botones-container {
    display: flex;
    justify-content: space-between; /* Espaciado máximo entre los botones */
    align-items: center; /* Alinea verticalmente los botones */
    padding-right: 5%;
  }
  
  .custom-card {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .icono-pago {
    color: green; /* Cambia el color a verde */
  }
  
  .material-symbols-outlined.grande {
    font-size: 48px; /* Ícono más grande */
  }
  
  .tabla-card {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho */
    margin-top: 20px;
  }
  
  .table-container {
    margin-top: 20px; /* Espacio entre el botón y la tabla */
  }
  
  .selected-row {
    background-color: #f0f0f0; /* Color de fondo al seleccionar */
    border: 2px solid #2196F3; /* Borde para resaltar */
  }
  