main {
    flex: 1; /* El contenido principal ocupa todo el espacio disponible */
}

footer.footer {
    position: relative;
    width: 100%;
    background-color: #c55a1e;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    z-index: 2; 
}