
footer.footer {
    position: relative; /* relative si queda pegado a la pantalla*/
    width: 100%;
    background-color: #c55a1e;
    color: #fff;
    text-align: center;
    padding: 10px;
    bottom: 0;
    z-index: 2; 
}