<div class="top-bar">
    <span class="top-bar-text">Asociación Cordobesa de Remo</span>
</div>
<div class="container">
    <img src="ACR.png" alt="Imagen de encabezado" class="header-image">
    <p class="notice">Recuerda que para crear una cuenta debes acercarte al club.</p>
    <h2>Iniciar Sesión</h2>
    <form action="/login" method="post">
        <div class="form-group">
            <label for="Nombre">Nombre:</label>
            <input type="username" id="username" name="Nombre" placeholder="Introduce tu nombre" required>
        </div>
        <div class="form-group">
            <label for="contraseña">Contraseña:</label>
            <input type="password" id="contraseña" name="contraseña" placeholder="********" required>
        </div>
        <a href="recuperar-contraseña.html" class="forgot-password">¿Olvidaste tu contraseña?</a>
        <button type="submit" class="btn">Iniciar Sesión</button>
    </form>
</div>