<div class="top-bar">
    <span class="top-bar-text">Asociación Cordobesa de Remo</span>
</div>
<div class="container">
    <img src="ACR.png" alt="Imagen de encabezado" class="header-image">
    <h2>Bienvenido Capitán</h2>
    <div class="buttons">
        <a [routerLink]="['/socios']" routerLinkActive="active" class="btn socios-btn">Socios</a>
        <a [routerLink]="['/pagos']" routerLinkActive="active" class="btn socios-btn">Pagos</a>
        <a [routerLink]="['/reportes']" routerLinkActive="active" class="btn socios-btn">Reportes</a>
    </div>
</div>