<app-navbar></app-navbar>

<div class="welcome-container">
    <img src="ACR.png" alt="Imagen de encabezado">
    <h2 class="h2-index">¡Bienvenidos!</h2>
</div>        
<div id="map"></div>        
<div class="video-container">
    <video #video autoplay loop muted playsinline (loadedmetadata)="muteVideo()">
        <source src="Video-remando.mp4" type="video/mp4">
    </video>
</div>    

<app-footer></app-footer>



    <!-- Errores y soluciones:
    error de rehidratación Index es el unico que debe contener header y body
    error en las imagenes, era porque cree una carpeta public y el angular.json habia guardado esa ruta para archivos de este tipo
    por lo que assets debia apuntar en esa direccion para funcionar     -->