<div class="welcome-container">
    <img src="ACR.png" alt="Imagen de encabezado">
    <h2 class="h2-index">¡Bienvenidos!</h2>
</div>        
<div id="map"></div>        
<div class="top-bar">

    <span>
        <nav>
            <a class="top-bar-text-index" (click)="onLogin()">Ingresar</a> <!-- Enlace al login -->
        </nav>
    </span>
    
    <span class="top-bar-text-index">Reservar</span>
    <span class="top-bar-text-index">Reportes</span>
    <span class="top-bar-text-index">Historia</span>    
</div>        