<div class="top-bar">

    <span>
        <nav>
            <a class="top-bar-text-index" (click)="onLogin1()">Ingresar</a> 
        </nav>
    </span>
    <span>
        <nav>
            <a class="top-bar-text-index" (click)="onLogin4()">Reservar</a> 
        </nav>
    </span>
    <span>
        <nav>
            <a class="top-bar-text-index" (click)="onLogin3()">Reportes</a> 
        </nav>
    </span>
    <span>  
        <nav>
            <a class="top-bar-text-index" (click)="onLogin2()">Historia</a>
        </nav>
    </span>  
</div>        