.top-bar {
    width: 100%;
    background-color: #4c5773;
    color: #fff;
    text-align: left; 
    padding: 10px 20px; 
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-bar-text {
    font-size: 16px;
    padding-right: 60px;
}

.table-container{
    padding-top: 50px;
}

.estado-al-dia {
    background-color: #d4edda; /* Un verde claro */
    color: #155724; /* Un verde oscuro */
}

.custom-header {
    background-color: #c55b1ec0 !important;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    text-align: left;
}

.material-symbols-outlined {
    font-variation-settings: 
        'FILL' 0, 
        'wght' 400, 
        'GRAD' 0, 
        'opsz' 24;
}
